Name : Mrugank Raut

# Task 1: Basic Python Programming (20 Marks)

1. Write a function `fibonacci(n)` that generates the first `n` numbers in the Fibonacci sequence and returns

In [2]:
def fibonacci(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]

    fib_seq = [0, 1]
    for i in range(2, n):
        next_number = fib_seq[-1] + fib_seq[-2]
        fib_seq.append(next_number)

    return fib_seq

print(fibonacci(8))

[0, 1, 1, 2, 3, 5, 8, 13]

2. Write a function `is_prime(num)` that checks if a given number is a prime number. Return `True` if the number

In [4]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

print(is_prime(17))
print(is_prime(20))

True
False

# Task 2: Data Manipulation with Pandas (30 Marks)

Using the dataset provided below, perform the following tasks. The dataset contains information about a company's import pandas as pd
data = {
'Date': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05'],
'Sales': [200, 220, 210, 215, 225],
'Region': ['North', 'South', 'East', 'West', 'North'],
'Manager': ['John', 'Jane', 'Joe', 'Jake', 'John']
}
df = pd.DataFrame(data)
1. Load the dataset into a pandas DataFrame and display its first 5 rows. (5 Marks)

In [24]:
import pandas as pd
data = {
'Date': ['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-05'],
'Sales': [200, 220, 210, 215, 225],
'Region': ['North', 'South', 'East', 'West', 'North'],
'Manager': ['John', 'Jane', 'Joe', 'Jake', 'John']
}
df = pd.DataFrame(data)

In [6]:
df.head()

         Date  Sales Region Manager
0  2024-01-01    200  North    John
1  2024-01-02    220  South    Jane
2  2024-01-03    210   East     Joe
3  2024-01-04    215   West    Jake
4  2024-01-05    225  North    John

2. Add a new column `Profit` which is 10% of the `Sales` column. (5 Marks)

In [7]:
def calc_profit(x):
  return x * 0.1

df['Profit'] = df['Sales'].apply(calc_profit)
df

         Date  Sales Region Manager  Profit
0  2024-01-01    200  North    John    20.0
1  2024-01-02    220  South    Jane    22.0
2  2024-01-03    210   East     Joe    21.0
3  2024-01-04    215   West    Jake    21.5
4  2024-01-05    225  North    John    22.5

3.Group the data by `Region` and calculate the total sales for each region. (10 Marks)

In [26]:
grouped_sales = df.groupby('Region')['Sales'].sum()
grouped_sales

Region
East     210
North    425
South    220
West     215
Name: Sales, dtype: int64

4. Find the region with the highest average sales. (10 Marks)

In [9]:
grouped_avg_sales = df.groupby('Region')['Sales'].mean()
grouped_avg_sales

Region
East     210.0
North    212.5
South    220.0
West     215.0
Name: Sales, dtype: float64

In [12]:
print(grouped_avg_sales.idxmax())

South

# Task 3: Data Loading and Manipulation from GitHub (10 Marks)

1. Load a CSV file from a GitHub repository into a pandas DataFrame. Use the following URL for the dataset:
https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
Display the first 5 rows of the DataFrame. (1 Mark)

In [13]:
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

2. Display summary statistics of the DataFrame. (1 Mark)

In [14]:
summary_stats = df.describe()
print(summary_stats)

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

3. Check for null values in the DataFrame and display the count of null values in each column. (1 Mark)

In [16]:
null_count = df.isnull().sum()
print(null_count)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

4. Fill the null values in the 'Age' column with the mean age. (1 Mark)

In [17]:
df['Age'].fillna(df['Age'].mean(), inplace=True)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,NaN,Q

5. Drop the rows where 'Embarked' is null. (1 Mark)

In [18]:
df = df.dropna(subset=['Embarked'])
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,NaN,Q

6. Create a new column 'FamilySize' which is the sum of 'SibSp' and 'Parch'. (1 Mark)

In [19]:
df['FamilySize']=df['SibSp']+df['Parch']
df

<ipython-input-19-2a08d47432ef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FamilySize']=df['SibSp']+df['Parch']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,NaN,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,29.699118,1,2,W./C. 6607,23.4500,NaN,S,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,NaN,Q,0

7. Convert the 'Sex' column to numerical values (male: 0, female: 1). (1 Mark)

In [20]:
def convert_sex(x):
  if x == 'male':
    return 0
  else:
    return 1

df['Sex'] = df['Sex'].apply(convert_sex)
df

<ipython-input-20-12d23c41fcf5>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Sex'] = df['Sex'].apply(convert_sex)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",0,22.000000,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.000000,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",1,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.000000,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",0,35.000000,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27.000000,0,0,211536,13.0000,NaN,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.000000,0,0,112053,30.0000,B42,S,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,29.699118,1,2,W./C. 6607,23.4500,NaN,S,3
889,890,1,1,"Behr, Mr. Karl Howell",0,26.000000,0,0,111369,30.0000,C148,C,0
890,891,0,3,"Dooley, Mr. Patrick",0,32.000000,0,0,370376,7.7500,NaN,Q,0

8. Group the data by 'Pclass' and calculate the average fare for each class. (1 Mark)

In [21]:
avg_fair_by_class = df.groupby('Pclass')['Fare'].mean()
print(avg_fair_by_class)

Pclass
1    84.193516
2    20.662183
3    13.675550
Name: Fare, dtype: float64

9. Find the most common port of embarkation ('Embarked' column). (1 Mark)

In [22]:
most_common_embarked = df['Embarked'].mode()[0]
print(most_common_embarked)

S

10. Create a pivot table that shows the survival rate ('Survived') for each combination of 'Sex' and 'Pclass'.

In [23]:
pivot_table = df.pivot_table(index='Sex', columns='Pclass', values='Survived', aggfunc='mean')
pivot_table

Pclass         1         2         3
Sex
0       0.368852  0.157407  0.135447
1       0.967391  0.921053  0.500000